<div class="Writing">
  <h4 class="Writing-title">{{ include.title }}</h4>
  <p class="Writing-summary">{{ include.publicationDetails }}</p>
  <span class="Writing-links">
    <a class="Writing-link" data-abstract="{{ include.abstract | escape }}">
      ABSTRACT
    </a>
    {% if include.filename != nil %}
      <a class="Writing-link" href="/assets/pdfs/{{ include.filename }}" target="_blank">
        AUTHOR’S PDF
      </a>
    {% endif %}
    {% if include.externalLink != nil %}
      <a class="Writing-link" href="{{ include.externalLink }}" target="_blank">
        {{ include.externalLinkName }}
      </a>
    {% endif %}
  </span>
</div>