<div class="Writing">
  <h1 class="Writing-title">{{ include.title }}</h1>
  <p class="Writing-summary">{{ include.publicationDetails }}</p>
  <span class="Writing-links">
    <a class="Writing-link">
      ABSTRACT
      <span style="display: none;">{{ include.abstract }}</span>
    </a>
    {% if include.filename != nil %}
      <a class="Writing-link" href="/assets/pdfs/{{ include.filename }}" target="_blank">
        AUTHOR’S PDF
      </a>
    {% endif %}
    {% if include.externalLink != nil %}
      <a class="Writing-link" href={{ include.externalLink }} target="_blank">
        {{ include.externalLinkName }}
      </a>
    {% endif %}
  </span>
</div>