<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.title }}" />
    <meta name="og.description" content="{{ site.title }}" />
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <link rel="stylesheet" href="/assets/css/tingle.css" />
    <script src="/assets/javascripts/tingle.js"></script>
  </head>
  <body>
    <section class="Page">
      <h1 class="Page-title">ROBERT MARK SIMPSON</h1>
      <h2 class="Page-subtitle">LECTURER IN PHILOSOPHY, UNIVERSITY COLLEGE LONDON</h2>
      <p class="Page-summary">
        Free Speech, Hate Speech, Liberalism, Social Epistemology, Human Rights,
        Applied Ethics, History of Political Thought, Philosophy of Religion
      </p>

      <section id="academic">
        {% include navigation.html selected="academic" %}
        <div class="Writings">
          {% assign academic_writing = site.data.writings | where: "category", "academic" %}
          {% for writing in academic_writing %}
          {% include writing.html title=writing.title publicationDetails=writing.publicationDetails abstract=writing.abstract filename=writing.filename externalLink=writing.externalLink externalLinkName=writing.externalLinkName %}
          {% endfor %}
        </div>
      </section>


      <section id="other">
        {% include navigation.html selected="other" %}
        <div class="Writings">
          {% assign other_writing = site.data.writings | where: "category", "other" %}
          {% for writing in other_writing %}
          {% include writing.html title=writing.title publicationDetails=writing.publicationDetails abstract=writing.abstract filename=writing.filename externalLink=writing.externalLink externalLinkName=writing.externalLinkName %}
          {% endfor %}
        </div>
      </section>


      <section id="about" class="About">
        {% include navigation.html selected="about" %}
        <p>
          For further information on my teaching, supervision, grants, fellowship,
          professional service, and administrative work, see my CV – condensed
          version / full version.
        </p>

        <p>
          I’m from Melbourne. Before arriving at UCL I was a Lecturer at Monash
          University (2013-17), and a Visiting Assistant Professor at the University
          of Chicago (2015). I did my graduate studies at Oxford (2009-13) and
          Monash (2007-08). I’ve contributed to various programs which bring
          philosophy to a wider public, including the Stuart Low Trust, the
          Victorian Association for Philosophy in Schools, The Leeds Film and
          Philosophy Society, Humanities 21, the Drawing Room, and the Elucidations
          podcast.
        </p>

        <p>
          Email me at robert [dot] simpson [at] ucl [dot] ac [dot] uk : :
          Links to my other sites below
        </p>

        <div class="About-links">
          <a href="https://www.ucl.ac.uk/philosophy/people/permanent-academic-staff/robert-simpson" style="height: 50px;">
            <img src="/assets/images/ucl.png" />
          </a>
          <a href="http://ucl.academia.edu/RobertSimpson/CurriculumVitae" style="height: 35px;">
            <img src="/assets/images/academia.png" />
          </a>
          <a href="https://philpeople.org/profiles/robert-mark-simpson" style="height: 50px;">
            <img src="/assets/images/philpeople.png" />
          </a>
          <a href="https://scholar.google.co.uk/citations?user=UbBvbEUAAAAJ" style="height: 40px;">
            <img src="/assets/images/googlescholar.png" />
          </a>
        </div>
      </section>
    </section>
    <script src="/assets/javascripts/abstracts.js"></script>
  </body>
</html>
